<div class="navhomesearch">
  <nav class="navbar navbar-light ">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <label class="header-search-wrapper">
        <form class="form-inline float-xs-right">
          <input class="form-control" type="text" placeholder="Search Repositories...">
          <button class="btn btn-outline-success" type="submit">Search </button>
        </form>
      </label>
      </li>
    </ul>
  </nav>
<hr>
</div>
