<div class="navhomeshow">
<nav class="navbar navbar-light navbarprofilehome">

  <ul class="nav navbar-nav float-xs-left">
    <li class="nav-item" style="padding-left:-20px">
      <a class="nav-link" href="/dashboard">Overview</a>
    </li>
    <li class="nav-item" style="padding-left:10px">
      <a class="nav-link" href="/repositories">Respositories <span class="tag tag-pill tag-default"><%= @repos.count %></strong> </span></a>
    </li>
    <li class="nav-item" style="padding-left:30px; padding-right:20px">
      <a class="nav-link" href="#">Stars</a>
    </li>
    <li class="nav-item"s tyle="padding-left:30px">
      <a class="nav-link" href="#">Followers</a>
    </li>
    <li class="nav-item" style="padding-left:20px">
      <a class="nav-link" href="#">Following</a>
    </li>
  </ul>
</nav>
<hr>
</div>
