/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*.navbar-image {
  height: 20px;
}*/

* {
  font-family: Helvetica Neue;
/*border: 1px solid black;*/
}

.form-control  {
  max-height: 30px;
  width: 350px !important;
  display:inline;
}

.navbar {
  padding-left: 125px;
  padding-right: 125px;
  height: 50px;
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}

a {
  color: #014c8c;
}

a:hover {
  color: #4078c0 !important;
}

.userpic {
  border-radius: 3%;
}

.index-container {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.navhomeshow {
  margin-top: -500px;
  margin-bottom: 5px;
  max-height: 25px;
}

.navhomeshow .nav-link {
  color: grey;
  font-family: Helvetica;
  font-size: 14px;
  border: none;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: bold;
}

.pinned-repos {
  margin-top: -440px;
}

.repo-list {
  margin-top: -450px;
  font-size: 20px;
}
.card {
  display: inline-block;
}

.card-block {
  text-align: left;
  max-height: 100px;
  padding: 1.15em;
  width: 340px;
}

.customrepotext {
  text-align: right;
  padding-left: 100px;
  font-size: 13px;
  color: grey;
}

.usernametitle {
  font-weight: bold;
  font-size: 24px;
}

.homeindex {
  text-align: center;
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: #bdbdbd !important;
  font-family: Helvetica;
  font-weight: lighter;
}

.repolangpinned {
  font-size: 12px;
  color: grey;
}

.reponamelist {
  font-weight: bolder;
  font-size: 20px;
  color: #4078c0;
}

.followsnamelist {
  color: black;
  font-size: 16px;
}

.followsuserlist {
  font-size: 13px;
  padding-left: 11px;
  color: grey;
}

.followslocation {
  font-size: 13px;
  padding-left: 49px;
  color: grey;
}

.btn-default:hover {
  background-color: #d3d3d3 !important;
}

.btn-default {
  background-color: #f1f1f1 !important;
}

.customrepotext {
  text-align: left;
  padding-left: 300px;
}

.events {
  padding-top: 100px;
  padding-left: 225px;
  padding-right: 200px;
}

.userevents {
  padding-left: 410px;
  padding-right: 200px;
  margin-top: -30px;
  font-size: 14px;
}

h5 {
  text-align: center;
}

.tag-default {
  background-color: #ededed;
  color: #545454;
}

.repodesc {
  font-size: 12px;
  margin-top: -10px;
  padding-top: -10px;
}

.eventtime {
  font-size: 12px;
}

.language {
  font-size: 14px;
}

.starredsearch {
  max-width: 300px !important;
}

.unfollow {
  margin-left: 400px;
  align-self: stretch;
  color: black;
  font-size: 14px;
}

.unfollowbutton {
  float: right;
}
